body {
	 font-family: cursive;
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	color: white;

}

table {
	width: 100%;
	border-style: solid;
}

.head {
	background: gray;
	color: white;
}

.pair {
	background: #f1f1cc;
}

.impair {
	background: #feffb9;
}

/* .zone-msgs { */
/* 	height: 210px; */

/* } */
 html {

	height: 100%;
	background: #7F7FD5;
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}



.card {
	border-radius: 15px !important;
	background-color: rgba(0, 0, 0, 0.4) !important;
}

.card-footer {
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}

.type_msg {
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 0 !important;
	color: white !important;
	height: 60px !important;
	overflow-y: auto;
}

.type_msg:focus {
	box-shadow: none !important;
	outline: 0px !important;
}

.send_btn {
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	border: 0 !important;
	color: white !important;
	cursor: grab !important;
}

.send_btn:hover {
	background-color: teal !important;
}

.msg_cotainer {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: #82ccdd;
	padding: 10px;
	position: relative;
}

.msg_card_body {
	overflow-y: auto;
}

#madiv {
	height: 210pt;
	overflow-y: auto;
	margin-right: 0px;
}

.zone-msgs {
	height: 400px;
}
#madiv {
	height: 200pt;
	overflow: auto;
}